- content_for :title, t("arbiter.arbiters")

.row
  .col-md-10.col-md-offset-1
    %h1.text-center= t("arbiter.arbiters")
    %hr
    - if @arbiters.any?
      %table.table.table-striped
        %thead
          %tr
            %th= t("name")
            %th= t("arbiter.level")
            %th= t("arbiter.date_of_qualification")
            %th= t("arbiter.location")
            %th= t("email")
            %th= t("arbiter.phone")
        %tbody
          - @arbiters.each do |arbiter|
            %tr
              %td= can?(:update, arbiter) ? link_to(arbiter.player.name, arbiter_path(arbiter)) : arbiter.player.name
              %td= t("arbiter.levels.#{arbiter.level}")
              %td= arbiter.date_of_qualification.to_fs(:db)
              %td= arbiter.location
              %td= arbiter.email
              %td= arbiter.phone
    - else
      %p.text-center= t("no_records")
