- defined?(disabled)  || disabled  = false
- defined?(off)       || off       = 0
- defined?(on)        || on        = 1
- if defined?(ttext); text = t(ttext + ".label"); hint = t(ttext + ".hint", default: ""); end

.form-group{class: object.errors[param].any? ? "has-error" : ""}
  = form.label param, text, class: "control-label col-#{col}-#{pad}"
  %div{class: "col-#{col}-#{width}"}
    = form.check_box param, { class: "form-control", disabled: disabled }, on, off
  %div{class: "col-#{col}-#{12-pad-width} help-block"}= object.errors[param].first
  - unless hint.blank?
    %br
    .help-block= hint
