- defined?(atr) || atr = nil

- unless defined?(header)
  - unless defined?(type)
    - type = object.class.to_s.underscore.titleize
  - if object.new_record?
    - header = "New #{type}"
  - elsif not atr
    - header = "Edit #{type}"
  - elsif atr.class == String or atr.class == Symbol
    - header = "Edit #{object.send(atr)}"
  - else
    - header = "Edit #{object.send(atr[0], **atr[1])}"

%h3.text-center= header
%hr
