- content_for :title, t("club.map")
- content_for :includes do
  = javascript_include_tag "maplibre-gl"
  = stylesheet_link_tag "maplibre-gl", skip_pipeline: true
- content_for :javascript do
  = render(:partial => "maps/clubs", :handlers => [:erb], :formats => [:js])

= render "utils/list_map_buttons", resource: "clubs"

- if @active && @active > @clubs.size
  %p.text-center.small
    = @clubs.size
    out of
    = @active
    active clubs are marked in the map below

.row
  #map-canvas.col-md-6.col-md-offset-3

- markers = []
- @clubs.each do |club|
  - popup_html = link_to club.name, club_path(club)
  - markers << { "lat" => club.lat, "lng" => club.long, "title" => club.name, "iconUrl" => asset_path("svg/marker_other.svg"), "popupHtml" => popup_html }

%script{type: "application/json", id: "map-data"}= raw json_escape(JSON.generate({ "center" => @center, "zoom" => @zoom, "cluster" => true, "fit" => false, "markers" => markers }))

