- content_for :title, t("event.map")
- content_for :includes do
  = javascript_include_tag "maplibre-gl"
  = stylesheet_link_tag "maplibre-gl", skip_pipeline: true
- content_for :javascript do
  = render(:partial => "maps/events", :handlers => [:erb], :formats => [:js])

= render "utils/list_map_buttons", resource: "events"

- if @forthcoming && @forthcoming > @events.size
  %p.text-center.small
    = @events.size
    out of
    = @forthcoming
    forthcoming events are marked in the map below

.row
  #map-canvas.col-md-6.col-md-offset-3

- markers = []
- @events.each do |event|
  - popup_html = link_to event.name, event_path(event)
  - markers << { "lat" => event.lat, "lng" => event.long, "title" => event.name, "iconUrl" => asset_path("svg/marker_other.svg"), "popupHtml" => popup_html }

%script{type: "application/json", id: "map-data"}= raw json_escape(JSON.generate({ "center" => @center, "zoom" => @zoom, "cluster" => true, "fit" => false, "markers" => markers }))
