= "#{time_ago_in_words result.updated_at, scope: 'datetime.short_distance_in_words'} ago, #{result.reporter_name}: "
= result.full_message
- if can?(:destroy, result)
  = icon_link_to 'remove', '', admin_result_path(result), :method => :delete, class: 'btn btn-danger btn-xs', title: 'Delete result', data:{ confirm: 'Are you sure you want to delete the result?' }
- if can?(:update, result)
  = icon_link_to "ban-circle", '', ban_admin_result_path(result), :method => :post, class: 'btn btn-danger btn-xs', title: 'Ban reporter', data: { confirm: "Are you sure you want to ban #{result.reporter.name}?" }