= "#{time_ago_in_words result.updated_at} ago, #{result.reporter_name} reported"
- if result.message.present?
  = result.html
- else
  = "#{result.competition}: #{result.player1} - #{result.player2} #{result.score}"
- if can?(:destroy, result)
  = link_to 'Destroy', admin_result_path(result), :method => :delete, :class => 'btn btn-danger btn-xs', :data => { :confirm => 'Are you sure?' }