- if event_has_links?(@event)
  %section{"id": "links", "class": "show-links"}
    %h4= t('event.links')
    %ul
      - if @event.pairings_url.present?
        %li
          = link_to @event.pairings_url, target: "event", class: "inline-glyph" do
            %span.glyphicon.glyphicon-list.glyphicon-sm
            = t('event.pairings')
      - if @event.results_url.present?
        %li
          = link_to @event.results_url, target: "event", class: "inline-glyph" do
            %span.glyphicon.glyphicon-stats.glyphicon-sm
            = t('event.results')
      - if @event.report_url.present?
        %li
          = link_to @event.report_url, target: "event", class: "inline-glyph" do
            %span.glyphicon.glyphicon-folder-open.glyphicon-sm
            = t('event.report')
      - if @event.live_games_url.present? || @event.live_games_url2.present?
        %li
          %span.inline-glyph
            %span.glyphicon.glyphicon-tower.glyphicon-sm
            = "#{t('event.live_games')}:"
          .liveboards
            - if @event.live_games_url2.present?
              = link_to @event.live_games_url2, target: "event", class: "btn btn-pastel-primary btn-block" do
                = t('event.live_games_provider2')
            - if @event.live_games_url.present?
              = link_to @event.live_games_url, target: "event", class: "btn btn-pastel-info btn-block" do
                = t('event.live_games_provider1')