.event-nav-sm
  .col-md-12
    %ul.no-margin
      - if @event.note.present?
        %li= link_to t('event.description'), "#description"
      - if @event.contact.present? || @event.email.present? || @event.phone.present?
        %li= link_to t('event.contact'), "#contact"
      - if event_has_links?(@event)
        %li= link_to t('event.links'), "#links"
      - if @event.fee_entries.on_sale.any? { |f| can?(:show, f) }
        %li.enter= link_to t('event.enter'), "#enter"
      - if @event.items.paid.any?
        %li= link_to t('event.entries'), "#entries"