- player = entry_item.player
%li.entry.inline-between
  %span.with_title
    - if player&.player_title.present?
      %span.label.label-default.label-sm.label-margin-right= player.player_title
    = player&.name || "Unknown Player"
  %div.inline-flex
    - if player&.latest_rating.present?
      %span= player.latest_rating
    - elsif player&.legacy_rating.present?
      %span= player.legacy_rating
    - if can?(:show, entry_item.cart)
      %span
        Cart ID:
        = link_to entry_item.cart_id, admin_cart_path(entry_item.cart_id)
    - if show_move
      = link_to "Move", edit_admin_item_path(entry_item), class: 'btn btn-primary btn-xs'