- content_for :title, t("event.event")

= render "utils/prev_next", prev_next: @prev_next

- admin = can?(:create, Image)

%h1.text-center= @event.name

.row.voffset3
  .col-md-8.col-md-offset-2
    %table.table.table-striped
      %tr
        %th= t("event.location")
        %td= link_to_if @event.geocodes?, @event.location, events_map_path(@event)
      %tr
        %th= t("event.start")
        %td= @event.start_date
      %tr
        %th= t("event.end")
        %td= @event.end_date
      - if @event.prize_fund.present?
        %tr
          %th= t("event.prize_fund")
          %td= euros(@event.prize_fund, precision: 0)
      - if @event.sections.present?
        %tr
          %th= t("event.sections")
          %td= @event.sections
      - if @event.contact.present? || @event.email.present? || @event.phone.present?
        %tr
          %th= t("contact")
          %td
            - if @event.contact.present? || @event.email.present?
              = succeed(@event.phone.present? ? "," : "") do
                - if @event.email.present?
                  = mail_to @event.email, @event.contact.present? ? @event.contact : @event.email
                - else
                  = @event.contact
            - if @event.phone.present?
              = @event.phone
      - if @event.url.present?
        %tr
          %th= t("event.url")
          %td= link_to simple_url(@event.url), @event.url, target: "event"
      - if @event.pairings_url.present?
        %tr
          %th= t("event.pairings_url")
          %td= link_to simple_url(@event.pairings_url), @event.pairings_url, target: "event"
      - if @event.live_games_url.present?
        %tr
          %th= t("event.live_games_url")
          %td= link_to simple_url(@event.live_games_url), @event.live_games_url, target: "event"
      - if @event.results_url.present?
        %tr
          %th= t("event.results_url")
          %td= link_to simple_url(@event.results_url), @event.results_url, target: "event"
      - if @event.report_url.present?
        %tr
          %th= t("event.report_url")
          %td= link_to simple_url(@event.report_url), @event.report_url, target: "event"
      - if @event.flyer.present?
        %tr
          %th= t("event.flyer")
          %td
            = link_to @event.flyer_file_name, @event.flyer.url
            - if admin
              = "(#{@event.flyer_content_type}, #{@event.flyer_file_size} bytes)"
        - if admin && @event.flyer_updated_at != @event.updated_at
          %tr
            %th= "File last updated"
            %td= @event.flyer_updated_at.to_s(:nosec)
      %tr
        %th= t("category")
        %td= t("event.category.#{@event.category}")
      = render "utils/timestamps", object: @event, ability: :create
      - if admin && @event.user.present?
        %tr
          %th= t("user.role.editor")
          %td= @event.user.player.name
      - if @event.note.present?
        %tr
          %th{colspan: 2, class: "text-center"}= t("notes")
        %tr
          %td{colspan: 2}= @event.note_html

    - extras = can?(:create, Fee) ? {t("event.create_entry_fee") => new_admin_fee_path(type: "Fee::Entry", event_id: @event.id)}: {}
    = render "utils/show_buttons", object: @event, extras: extras

    - unless @event.fee_entries.on_sale.empty?
      %h2.text-center Enter Tournament
      %table.table-spaced.fees-table
        - @event.fee_entries.on_sale.each do |fee_entry|
          - if can?(:show, fee_entry)
            %tr
              %td= link_to(euros(fee_entry.amount), new_item_path(fee_id: fee_entry.id), class: 'btn btn-info btn-sm')
              %td= event_entry_fee_description(fee_entry)
              %td= link_to(t("edit"), edit_admin_fee_path(fee_entry), class: 'btn btn-danger btn-sm') if can?(:edit, fee_entry)

    - unless @event.items.empty?
      %h2.text-center Entries
      - section_names = @event.section_names
      - @event.items.paid.where(section: nil).each do |entry_item|
        %p
          - if admin && section_names.size > 0
            = link_to "Change Section", edit_admin_item_path(entry_item), class: 'btn btn-danger btn-sm'
          = can?(:show, Player) ? link_to(event_entry_item_description(entry_item), admin_player_path(entry_item.player_id)) : event_entry_item_description(entry_item)
      - @event.section_names.each do |section|
        - paid_entries = @event.items.paid.where(section: section)
        %h3
          = section
          %span.small
            = paid_entries.size
            entries
          - if admin
            = link_to "FIDE pre-2013 File", swiss_manager_event_path(@event.id, section: section), class: 'btn btn-info btn-sm'
            = link_to "CSV file", csv_list_event_path(@event.id, section: section), class: 'btn btn-info btn-sm'
        - paid_entries.each do |entry_item|
          %p
            - if admin && section_names.size > 1
              = link_to "Change Section", edit_admin_item_path(entry_item), class: 'btn btn-danger btn-sm'
            = can?(:show, Player) ? link_to(event_entry_item_description(entry_item), admin_player_path(entry_item.player_id)) : event_entry_item_description(entry_item)
= render "admin/journal_entries/changes", entries: @entries
