- content_for :title, t("event.event") + " | " + @event.name
- content_for :header_bg_color, "var(--gray-lighter)"
- @show_main_container = "false"
- content_for :includes do
  = javascript_include_tag "maplibre-gl"
  = stylesheet_link_tag "maplibre-gl", skip_pipeline: true
- content_for :javascript do
  = render(:partial => "show", :handlers => [:erb], :formats => [:js])
- if @event.geocodes?
  - popup_html = render(partial: "events/marker_popup", locals: { event: @event }, formats: [:html], handlers: [:haml])
  - markers = [{ "lat" => @event.lat, "lng" => @event.long, "title" => @event.name, "iconUrl" => asset_path("svg/marker_#{@event.map_marker_key}.svg"), "popupHtml" => popup_html }]
  %script{type: "application/json", id: "map-data"}= raw json_escape(JSON.generate({ "center" => [@event.lat, @event.long], "zoom" => 13, "fit" => false, "markers" => markers }))

- admin = can?(:update, @event)

= render "events/show_panel"
= render "events/show_nav"

.container
  .row
    .col-md-12.flex-row

      .primary-content
        = render "events/show_description"
        = render "events/show_contact"
        - if @entries.present?
          %button{type: "button", "data-toggle": "collapse", "data-target": "#changeLog", class: "btn btn-primary"}
            View changelog
          %div{id: "changeLog", class: "collapse"}
            = render "admin/journal_entries/changes", entries: @entries

      %aside{class: "side-content"}
        = render "events/show_admin", admin: admin
        = render "events/show_enter"
        = render "events/show_links"
        = render "events/show_entries", admin: admin

