.panel-default
  .panel-heading
    = news.headline
    - unless news.active
      = "(inactive)"
    .pull-right.visible-sm-block= news.short_date
    .pull-right.right-margin-thin
      .visible-lg-inline-block.right-margin-thin= news.date.strftime('%d-%m-%Y')
      .visible-lg-inline-block.right-margin-thin{data: {news_id: news.id}}= like_button(current_user, news)
  .panel-body.news
    = news.html
