- content_for :title, t("sponsor.sponsors")

- if @sponsors.count > 0
  .row
    .col-sm-8.col-sm-offset-2
      %table{class: "table table-striped", id: "results"}
        %thead
          %tr
            %th= t("sponsor.abbrev.id")
            %th= t("sponsor.name")
            %th= t("sponsor.weblink")
            - if can?(:manage, Sponsor)
              %th= t("sponsor.weight")
              %th= t("sponsor.eyeballs")
              %th= t("sponsor.clicks")
              %th
        %tbody
          - @sponsors.matches.each do |sponsor|
            %tr
              %td= sponsor.id
              %td= link_to_sponsor(sponsor)
              %td= sponsor.weblink
              - if can?(:manage, Sponsor)
                %td= sponsor.weight
                %td= sponsor.eyeballs
                %td= sponsor.clicks
                %td= link_to t('show'), admin_sponsor_path(sponsor)
          = render "utils/pagination_links", pager: @sponsors, columns: 3 + (can?(:manage, Sponsor) ? 0 : 2)
= render "utils/index_buttons", klass: Sponsor
