.panel.panel-primary.irish-events
  - if @ongoing_events.any?
    .panel-heading
      .text-center Ongoing Events
    - @ongoing_events.each_with_index do |event, index|
      %div{class: index == @ongoing_events.size - 1 ? "panel-body last-panel-body" : "panel-body"}
        = link_to event.name, event
        %br
        = event.dates
        %br
        = ((event.note || '').strip.split("\n").first || '').strip
  .panel-heading.panel-heading-middle
    .text-center Upcoming Events
  - @upcoming_events.each_with_index do |event, index|
    %div{class: index == @upcoming_events.size - 1 ? "panel-body last-panel-body" : "panel-body"}
      = link_to event.name, event
      %br
      = event.dates
      %br
      = ((event.note || '').strip.split("\n").first || '').strip
  .panel-footer.text-center= link_to t("event.calendar"), events_path
