.panel.panel-primary.organisations
  .panel-heading
    .text-center= t('junior.organisations')
  .panel-body
    %ul
      %li= link_to "ChessInSchools", "http://cis.fide.com/", target: "external"
      %li= link_to "Community Games", "http://www.communitygames.ie/", target: "external"
      %li= link_to "Leinster Schools Chess Association", "http://www.leinsterschoolschess.com/", target: "external"
      %li= link_to "Logic NI Limited", "http://www.logicni.com/", target: "external"
      %li= link_to "MovesForLife", "http://www.movesforlife.ie/", target: "external"
      %li= link_to "Chess for All", "http://www.chessforall.net/", target: "external"
