.panel.panel-primary.junior-events
  .panel-heading
    .text-center= t('junior.events')
  - @junior_events.each do |event|
    .panel-body
      = link_to event.name, event
      %br
      = event.dates
      %br
      = ((event.note || '').strip.split("\n").first || '').strip
  - if can?(:manage, Admin::JuniorNewsletter)
    .panel-footer.text-center
      = link_to "Junior Newsletter.csv", admin_junior_newsletters_path
