.panel.panel-primary.junior-events
  .panel-heading
    .text-center= t('junior.international_events')
  - @international_events.each do |event|
    .panel-body
      = link_to event.name, event
      %br
      = event.dates
      %br
      = ((event.note || '').strip.split("\n").first || '').strip
  .panel-footer.text-center= link_to "Junior Eligibility Criteria", icu_junior_eligibility_criteria_path