.panel.panel-primary
  .panel-heading
    .text-center= t('junior.events')
  - @juniors.each do |event|
    .panel-body
      = link_to event.name, event
      %br
      = event.dates
      %br
      = ((event.note || '').strip.split("\n").first || '').strip
  .text-center= link_to t('junior.chess'), juniors_path
