.panel.panel-primary
  .panel-heading
    .text-center= t('junior.learners')
  .panel-body
    %ul
      %li= link_to "The Benefits of Learning Chess", article_path(95)
      %li= link_to "Junior Chess Corner", downloads_path(description: "junior chess corner")
      %li= link_to "Focloir Fichille (Chess Dictionary)", download_path(188), target: "pdf"
      %li= link_to "Conas Ficheall a Imirt (How to Play Chess)", download_path(189), target: "pdf"
      %li= link_to "How to Play Chess", downloads_path(description: "How to Play Chess Part")

