.row
  = render 'results'
.row
  .col-sm-3
    = render 'irish'
    = render "home_page_links"
  .col-sm-7
    = render 'news'
  .col-sm-2
    = render 'layouts/features'
.row
  .col-sm-12
    = render 'layouts/sponsors'