- content_for :title, t("junior.chess")

%h3.text-center= t("junior.chess")
.row
  .col-sm-3
    = render "junior_events"
    = render 'junior_international_events'
    = render "home_page_links"
  .col-sm-6
    = render 'news'
  .col-sm-3
    = render "child_protection_policy"
    = render 'junior_clubs'
    = render("junior_organisations")
    = render("disclaimer")
.row
  .col-sm-12
    = render 'layouts/sponsors'
