- content_for :title, t("junior.chess")

%h3.text-center= t("junior.chess")
.row
  .col-sm-3
    = render "home_page_links"
    = render "junior_events"
    = render 'junior_international_events'
  .col-sm-6
    = render 'news'
    = render "champions/champion", champion: Champion.recent(:u19).first
    = render "champions/champion", champion: Champion.recent(:g19).first
    = render "champions/champion", champion: Champion.recent(:u16).first
    = render "champions/champion", champion: Champion.recent(:g16).first
    = render "champions/champion", champion: Champion.recent(:u14).first
    = render "champions/champion", champion: Champion.recent(:g14).first
    = render "champions/champion", champion: Champion.recent(:u12).first
    = render "champions/champion", champion: Champion.recent(:g12).first
    = render "champions/champion", champion: Champion.recent(:u10).first
    = render "champions/champion", champion: Champion.recent(:g10).first
    = render "champions/champion", champion: Champion.recent(:u8).first
    = render "champions/champion", champion: Champion.recent(:g8).first
  .col-sm-3
    = render "child_protection_policy"
    = render "junior_ratings"
    = render 'junior_clubs'
    = render("junior_organisations")
    = render 'learner_docs'
    = render("disclaimer")
.row
  .col-sm-12
    = render 'layouts/sponsors'
