- content_for :title, t("game.game")
- content_for :includes do
  = javascript_include_tag "pgnyui", "pgnviewer"
- add_help("pgn")

= render "utils/prev_next", prev_next: @prev_next

%h3.text-center
  = @game.white_with_elo
  = "—"
  = @game.black_with_elo
%p.text-center
  = succeed(",") do
    = @game.details
  %strong= @game.result
- if @game.annotator
  %p.text-center= "#{t('game.annotator')}: #{@game.annotator}"
#demo_pgn.hidden
  = @game.to_pgn
%div{id: 'demo-container'}
%div{id: 'demo-moves'}
%p
  Thanks to <a id='ct-link' href='http://chesstempo.com/play-chess-online.html'>Chess Tempo</a> for the Pgn Game player.
%script
  var flip_listener = function(board) {};
  window.pgn_viewer = new  PgnViewer({boardName: "demo", pgnDiv: 'demo_pgn', pieceSet: 'leipzig', pieceSize: 44, highlightFromTo: false, showCoordinates: false, soundEnabled: false, showBracketsOnVariation: true, showToMoveIndicators: true});
- extras = {}
- extras[t("game.pgn.download.game")] = game_path(@game, format: "pgn") if can?(:download, Game)
= render "utils/show_buttons", object: @game, extras: extras

= render "admin/journal_entries/changes", entries: @entries
