.row
  .col-lg-2.text-center
    = image_tag "misc/logo.png", alt: t("icu.logo"), title: t("icu.logo"), size: "70x70", class: "visible-lg-block header-logo"
  .col-lg-8.text-center
    %h1= t("icu.ticu")
    %h5
      = succeed(":") do
        = t("patron")
      = succeed(",") do
        = "Michael D. Higgins"
      = t("president_irl")
