%nav{class: "navbar navbar-default", role: "navigation"}
  .navbar-header
    %button{class: "navbar-toggle", type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      - if active("pages", "home")
        %li= link_to t("event.calendar"), events_path
      - else
        %li= link_to t("home"), home_path
      %li{class: active("payments")}= link_to t("shop.shop"), shop_path
      %li{class: active("clubs")}= link_to t("club.clubs"), clubs_path
      %li= link_to t("player.rating.ratings"), "http://ratings.icu.ie", target: "ratings"
      %li{class: active("pages", "juniors")}= link_to t("junior.juniors"), juniors_path
      %li{class: ".dropdown #{active("icu")}"}
        = link_to '#', class: "dropdown-toggle", data: { toggle: "dropdown" } do
          = t("icu.ICU")
          %b.caret
        %ul.dropdown-menu
          %li{class: active("icu")}= link_to t("icu.ICU"), icu_index_path
          %li{class: active("icu.documents")}= link_to t("icu.documents"), icu_documents_path
          %li{class: active("icu.officers")}= link_to t("icu.officers"), icu_officers_path
          %li{class: active("icu.subscribers")}= link_to t("icu.subscribers"), icu_subscribers_path
          %li{class: active("icu.life_members")}= link_to t("icu.life_members"), icu_life_members_path
          - if can?(:sales_ledger, Item)
            %li{class: active("item.sales_ledger")}= link_to t("item.sales_ledger"), sales_ledger_admin_items_path
      %li.dropdown
        = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
          = t("more")
          %b.caret
        %ul.dropdown-menu
          %li{class: active("articles")}= link_to t("article.articles"), articles_path
          %li{class: active("series")}= link_to t("article.series.series"), series_index_path
          - unless active("pages", "home")
            %li= link_to t("event.calendar"), events_path
          %li{class: active("downloads")}= link_to t("download.downloads"), downloads_path
          %li{class: active("games")}= link_to t("game.games"), games_path
          %li{class: active("images")}= link_to t("image.images"), images_path
          %li{class: active("champions")}= link_to t("champion.champions"), champions_path
          %li{class: active("pages", "juniors")}= link_to t("junior.juniors"), juniors_path
          %li{class: active("pages", "links")}= link_to t("links.links"), links_path
          %li{class: active("news")}= link_to t("news.news"), news_index_path
          %li{class: active("players")}= link_to t("player.players"), players_path
          %li{class: active("sponsors")}= link_to t("sponsor.sponsors"), sponsors_path
          %li{class: active("tournaments")}= link_to t("tournament.tournaments"), tournaments_path
      - if content_for?(:help)
        %li.dropdown
          = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
            = t("help.HELP")
            %b.caret
          %ul.dropdown-menu
            = yield :help
            %li= link_to t("help.index"), help_index_path
      - else
        %li{class: active("help")}= link_to t("help.HELP"), help_index_path
    %ul.nav.navbar-nav.navbar-right
      = render "layouts/locale_switch"
      = render "layouts/admin_menu"
      = render "layouts/sign_in_out"
